body {
    /* margin: 10;
    padding: 100; */
    background-color: black; 
    color: white; 
  }
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    width: 400px;
    margin-bottom: 20px;
}
.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  label {
    margin-bottom: 5px;
  }
  .textfield {
  width: 250px; /* Adjust the width as needed */
  padding: 5px;
  border: 1px solid white; /* Set border color to white */
  border-radius: 4px;
  color: white; /* Set text color to black */
  background-color: black; /* Set background color to black */
}

#button{
    background-color: white;
    color: black;
    padding: 3px 12px;
    border: 1px solid white;
    margin-bottom: 15px;
}
/* button {
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
  color: white;
} */
button {
  cursor: pointer;
}
#emp{
    color: rgb(80,80,80);
}

li button{
    margin-left: 5px;
    border-radius: 25px;
    padding: 3px 7px;
}
li{
    margin-bottom: 10px;
}


